#resources-container {
  border: 5px solid #272e48;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 200px;
  width: 35%;
  background-color: #f3e4d8;

  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#hungry-header {
  background-color: #d35348;
  margin: 0px 0px 0px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #272e48;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  border-bottom: 5px solid #272e48;
}
