.resources-wrapper {
  display: grid;
  place-items: center center;
}

#resources-container {
  background-color: whitesmoke;
  margin-top: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#hungry-header {
  color: white;
  background-color: #272e48;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
}

.resources-all-text {
  display: grid;
}
