#resources-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 10px #aebdc7;
  margin: 0 auto;
  margin-top: 10%;
  padding-bottom: 2%;
  width: 50%;
}

#hungry-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #272e48;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
}

.hungry-text {
  font-family: "Merriweather", serif;
}
