.resources-wrapper {
  display: grid;
  place-items: center center;
}

#resources-container {
  background-color: whitesmoke;
  margin-top: 3%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#hungry-header {
  color: white;
  background-color: #272e48;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.resources-all-text {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.hungry-one {
  margin-top: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hungry-one:hover {
  background-color: lightgray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hungry-two {
  margin-top: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hungry-two:hover {
  background-color: lightgray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hungry-three {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hungry-three:hover {
  background-color: lightgray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hungry-four {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hungry-four:hover {
  background-color: lightgray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
