#nav,
.nav-link {
  background-color: #343a40;
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial";
  text-decoration: none;
}

#nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

#nav-title {
  font-weight: bold;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 3%;
}
