.display-claimed-items-for-client {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  /* border: 2px solid black; */
  /* border-radius: 5px; */
  margin: 0 auto;
  /* margin-top: 2%; */
  width: 75%;
  height: 80px;
  background-color: whitesmoke;

  /* flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  float: right;
  margin: 0;
  margin-right: 15%; */
}

/* .MuiButton-label-35 {
  color: white;
  font-size: 16px;
  font-weight: 900;
} */
