#vendor-items-header {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
  background-color: #aebdc7;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.display-claimed-items-for-client {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 0 auto;
  width: 75%;
  height: 3.2em;
  background-color: #ffffff;
}

.display-claimed-items-for-client:hover {
  background-color: lightgray;
}

.vendor-item-name,
.vendor-weight,
.vendor-feeds,
.vendor-pick-up,
.vendor-spacing {
  width: 20%;
  margin: 0.5em;
}

.span-claim-button {
  width: 20%;
}
