#vendor-items-header {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
  background-color: #aebdc7;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;

  /* color: white; */
}

.display-claimed-items-for-client {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 0 auto;
  width: 75%;
  height: 80px;
  background-color: whitesmoke;
}

.display-claimed-items-for-client:hover {
  background-color: lightgray;
}

#item-name,
#weight,
#feeds,
#pick-up,
#spacing {
  width: 20%;
}

.span-claim-button {
  width: 20%;
}
