.search-feed {
  color: #272e48;
  text-decoration: underline;
  text-underline-position: under;
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  font-weight: 900;
}

.search-results-item-name-results,
.search-results-weight,
.search-results-feeds,
.search-results-pick-up {
  margin: 0.5em;
}
