#nav,
.nav-link {
  background-color: #353e5b;
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial";
  text-decoration: none;
}

.nav-link:hover {
  color: #de6a5a;
}

#logo {
  width: 140px;
  border-radius: 30px;
  border: 5px solid black;
}

#logo:hover {
  border: 5px solid #de6a5a;
}

#nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

#nav-title {
  font-weight: bold;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 3%;
}
