/* CSS for sticky navbar */
#nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* allows the pages to display properly */
/* without this, the navbar will cover 120px worth of screen space from the top */
.main-section {
  margin-top: 120px;
}

#nav,
.nav-link {
  background-color: #272e48;
  color: white;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial";
  text-decoration: none;
}

.nav-link:hover {
  color: #de6a5a;
}

#logo {
  width: 80px;
  border-radius: 50%;
  border: 5px solid black;
}

#logo:hover {
  border: 5px solid #de6a5a;
}

#nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

#nav-title {
  font-weight: bold;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 3%;
}

#logout-button {
  border: none;
}

.nav-link--active {
  text-decoration: underline;
  text-underline-position: under;
}
