/* CSS for sticky navbar */
#nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #eff5f5;
  height: 90px;
  display: grid;
  grid-template-columns: 50% 50%;

  /* align-items: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Arial";
  text-decoration: none;
  border: none; */
  justify-items: center;
}

/* allows the pages to display properly */

/* without this, the navbar will cover 100px worth of screen space from the top */
.main-section {
  margin-top: 85px;
}

.nav-link {
  background-color: #eff5f5;
  color: black;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  font-family: "Arial";
  text-decoration: none;
  border: none;
}

.nav-link:hover {
  color: #de6a5a;
}

#logo {
  width: 275px;
}

#nav-links {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

#nav-title {
  font-weight: bold;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  width: 80%;
}

#logout-button {
  border: none;
  outline: none;
}

.nav-link--active {
  text-decoration: underline;
  text-underline-position: under;
}
