#items-border {
  border: 5px solid red;
}

.display-item-name {
  width: 10%;
  font-size: 20px;
  font-weight: 700;
}

.display-vendor-name,
.display-claimed-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  height: 80px;
  background-color: white;
  margin: 0;
  float: right;
  margin-right: 15%;
}

.display-vendor-name {
  width: 75%;
  margin-top: 2%;
}

.display-claimed-items {
  width: 55%;
}

.claimed-button,
.unclaimed-button {
  color: white;
  font-size: 14px;
  font-weight: bold;
  /* border-radius: 10px; */
  height: 40px;
}

.claimed-button {
  background-color: red;
}

.unclaimed-button {
  background-color: green;
}
