#client-container {
  display: flex;

  /* flex-direction: column;
  justify-content: center;
  align-content: center; */
}

#client-profile-container {
  width: 20vw;
  margin-left: 1%;
  height: 100%;
}

#client-info-fav-container {
  width: 80vw;
}

#profile-picture {
  width: 200px;
  height: 200px;
  margin-top: 10%;
}

#client-name {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  width: 50%;
}

.client-name {
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  background-color: whitesmoke;
}

#vendor-info {
  border-bottom: 2px solid black;
  margin: 0 auto;
}

#favorite-vendors-list-client,
#claimed-items-list-client {
  font-family: "Montserrat", sans-serif;
  width: 90%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

#favorite-vendors-client {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  background-color: #aebdc7;
  border-left: 1px solid #aebdc7;
  border-right: 1px solid #aebdc7;
}

#favorite-vendor-name,
#favorite-vendor-address,
#favorite-vendor-phone,
#favorite-spacing {
  width: 25%;

  /* text-decoration: underline; */
}
