.display-food-name {
  width: 10%;
  font-size: 20px;
  font-weight: 700;
}

.display-vendor-name-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.display-vendor-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  width: 90%;
  height: 80px;
  background-color: #ebf4f4;
  margin: 0 auto;
}

.display-vendor-name {
  background-color: #f3e4d8;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  height: 150px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  border-bottom: 1px solid black;
}

.claimed-button,
.unclaimed-button {
  color: white;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
}

.claimed-button {
  background-color: red;
}

.unclaimed-button {
  background-color: green;
}
