.display-food-name {
  width: 10%;
  font-size: 20px;
  font-weight: 700;
}

.display-vendor-name-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.display-vendor-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  width: 90%;
  height: 80px;
  background-color: whitesmoke;
  margin: 0 auto;
}

#vendor-items-header-client {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  background-color: #aebdc7;
  border-left: 1px solid #aebdc7;
  border-right: 1px solid #aebdc7;
}

.display-vendor-name {
  background-color: #272e48;
  color: white;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  height: 150px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #272e48;
  border-left: 1px solid #272e48;
  border-right: 1px solid #272e48;
}

.display-item-name-client {
  text-decoration: none;
  color: lightblue;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 900;
  padding-left: 50px;
}

.claimed-button,
.unclaimed-button {
  color: white;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
}

.claimed-button {
  background-color: red;
}

.unclaimed-button {
  background-color: green;
}
