.loginWrapper {
  display: grid;
  place-items: center center;
  height: 100vh;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 1%;
  border: 2px solid black;
  border-radius: 5px;
}

#email-input,
#password-input {
  width: 500px;
}

#login-email-icon,
#login-password-icon {
  margin-top: 30px;
}

#login-header {
  font-family: "Montserrat", sans-serif;
}

.login-button {
  width: 25%;
}

#signup-link {
  margin-top: 2%;
  text-decoration: none;
  color: blue;
}

.notMemberDiv {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: space-between;
  margin-top: 3.5%;
}

.notMemberDiv > p {
  margin: 2%;
}
