#signup-page {
  padding-top: 1%;
  height: 100vh;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
}

.signup-form-header {
  font-family: "Montserrat", sans-serif;
  color: #272e48;
  font-size: 36px;
}

#vendor-signup-form,
#client-signup-form {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

.input-field {
  background-color: whitesmoke;
  width: 200px;
  border-radius: 5px;
}

.signup-button {
  margin-top: 5%;
  margin-bottom: 5%;
}

.signup-demo-buttons {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}
