#signup-page {
  background-color: #4c78fb;
  height: 100%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
  background-color: whitesmoke;
}

.input-field {
  background-color: whitesmoke;
  width: 200px;
  border-radius: 5px;
}

.signup-button {
  margin-top: 5%;
  margin-bottom: 5%;
}
