#signup-page {
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 90%;
}

#signup-header {
  font-family: "Montserrat", sans-serif;
  color: #272e48;
  font-size: 2.65em;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  padding-top: 2em;
}

.choose-user-signup-form {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  display: grid;
  place-items: center center;
  margin-top: -6em;
}

.signup-header-body {
  font-size: 20px;
  font-family: "Merriweather", serif;
  color: #272e48;
  font-size: 1.25em;
  font-weight: bold;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
}

.signup-form-wrapper {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.signup-form-header {
  font-family: "Montserrat", sans-serif;
  color: #272e48;
  font-size: 36px;
  margin: 10px 0 0 0;
}

#vendor-signup-form,
#client-signup-form {
  background-color: white;

  width: 95%;
  margin-top: -70px;
  min-height: 41em;
  margin-bottom: 0;

}

.input-field {
  background-color: #e6f0f0;
  width: 500px;
  border-radius: 5px;
}

.signup-button {
  margin-top: 5%;
  margin-bottom: 5%;
}

.signup-demo-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin-top: 1.5em;
}

.icons {
  width: 35px;
  height: 35px;
  padding-right: 10px;
}

.icon-input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiFormGroup-root-12 {
  display: flex;
}

/*
.radioGroupContainer {
  display: flex;
} */

.foodVendorRadioContainer {
  /* width: 100%; */
  grid-column-start: 1;
  grid-column-end: span 1;
}

.npoRadioContainer {
  /* width: 100%; */
  grid-column-start: 2;

  /* grid-column-end: span 1; */
}
