.carousel-image {
  width: 100%;
  height: 100%;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-container {
  margin-bottom: 8px;
}

.img {
  background-size: contain;
}
