#food-background-container {
  /* padding-top: 2%;
  padding-bottom: 2%; */
  background-color: whitesmoke;
}

#sap-logo {
  width: 100vw;
}

#food-background {
  width: 80vw;
  height: 90vh;
}

#mission-statement {
  font-size: 60px;
  font-weight: bold;
  color: #d35348;
  font-family: "Oswald", sans-serif;
  margin: 0.3em;
}

#mission-statement-text {
  width: 80vw;
  font-size: 20px;
  font-family: "Roboto", sans-serif;

  /* margin-bottom: 3.5%; */
}

#landing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  /* background-image: linear-gradient(to top, #eff5f5, #aebdc7); */
  background-color: #eff5f5;
  margin: 15px 0 50px 0;

  /* margin-bottom: 8px; */
}

#login-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  background-color: #eff5f5;
}

.login-sub-container-1 {
  /* background-color: #f3e4d8; */

  /* background-color: #f3e4d8; */
  text-align: right;
}

.login-sub-container-2 {
  /* background-color: #f3e4d8; */

  /* background-color: #f3e4d8; */
  text-align: left;
}

#nav-link {
  text-decoration: none;
}

#signup-button,
#login-button {
  height: 100px;
  width: 200px;
  margin: 0 auto;
  margin: 10% 6%;
  font-size: 20px;
  font-weight: 800;
  border-radius: 12px;
}

#signup-button:hover,
#login-button:hover {
  color: #aebdc7;
}

#info-container {
  width: 100%;
  height: 100%;

  /* background-image: linear-gradient(to top, #f3e4d8, #f9c680); */

  /* background-color: #f3e4d8; */
  background-color: #fde9ce;
  font-family: "Oswald", sans-serif;

  /* margin-bottom: 8px; */
  padding-bottom: 40px;
  padding-top: 4%;
}

#info-container-header {
  margin: 0 0 0 0;
  font-size: 60px;
  font-weight: bold;
  padding-top: 2%;
  color: #d35348;
  font-family: "Oswald", sans-serif;
  position: absolute;
  margin-left: 38%;
  margin-top: 5%;
}

#info-vendor-client {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#info-vendor,
#info-client {
  width: 100%;
}

#vendor-logo,
#client-logo {
  width: 25%;
  height: 25%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: #272e48;
  color: whitesmoke;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  padding: 20px 20px 20px 20px;
  font-family: "Roboto", sans-serif;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

#user-type,
#more-info {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #272e48;
}

#user-type {
  font-size: 26px;
}

#more-info:hover {
  color: #d35348;
}

footer {
  background-color: #272e48;
  height: 40px;
}
