#food-background-container {
  background-color: whitesmoke;
}

#sap-logo {
  width: 100vw;
}

#food-background {
  width: 80vw;
  height: 90vh;
}

#mission-statement {
  font-size: 60px;
  font-weight: bold;
  color: #d35348;
  font-family: "Montserrat", sans-serif;
  margin: 0.3em;
}

#mission-statement-text {
  width: 80vw;
  font-size: 18px;
  font-family: "Merriweather", serif;
}

#landing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #eff5f5;
  margin: 15px 0 50px 0;
}

#login-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  background-color: #eff5f5;
}

.login-sub-container-1 {
  text-align: right;
}

.login-sub-container-2 {
  text-align: left;
}

#nav-link {
  text-decoration: none;
}

#signup-button,
#login-button {
  height: 100px;
  width: 200px;
  margin: 0 auto;
  margin: 10% 6%;
  font-size: 20px;
  font-weight: 800;
  border-radius: 12px;
}

#signup-button:hover,
#login-button:hover {
  color: #aebdc7;
}

#info-container {
  width: 100%;
  height: 100%;
  background-color: #f3e4d8;
  font-family: "Merriweather", serif;
  padding-bottom: 4%;
}

#info-container-header {
  font-size: 3.75em;
  font-weight: bold;
  color: #d35348;
  font-family: "Montserrat", sans-serif;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 1;
}

#info-vendor-volunteer-client {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
  grid-template-rows: auto;
}

#info-vendor-volunteer-client > img {
  width: 200px;
  height: 200px;
}

#info-vendor {
  width: 100%;
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
}

#info-volunteer {
  width: 100%;
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 1;
}

#info-client {
  width: 100%;
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 4;
  grid-column-end: span 1;
}

#vendor-logo,
#client-logo,
#volunteer-logo {
  width: 25%;
  height: 25%;
}

#user-type {
  font-size: 1.75em;
  font-family: "Montserrat", sans-serif;
  margin: 1.15em 0;
}

#get-involved-info {
  width: 40%;
  margin: 0 auto;
  font-family: "Merriweather", serif;
}
