body {
  background-color: #ffd093;
}

#mission-statement {
  font-size: 50px;
  font-weight: bold;
}

#landing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #bcc9d2;
}

.mission-statement-p-text {
  width: 80vw;
  font-size: 20px;
}

#login-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 300px;
  width: 100vw;
  margin: 0 auto;
}

.login-sub-container-1,
.login-sub-container-2 {
  width: 100%;
  background-color: #ebf4f4;
  border-top: 2px solid lightslategray;
}

.login-sub-container-1 {
  border-right: 1px solid lightslategray;
}

.login-sub-container-2 {
  border-left: 1px solid lightslategray;
}

#signup-button,
#login-button {
  height: 100px;
  width: 200px;
  margin: 0 auto;
  margin-top: 100px;
  border: 4px solid black;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

#signup-button:hover,
#login-button:hover {
  border: 4px solid #de6a5a;
}

#signup-button {
  background-color: lightskyblue;
}

#login-button {
  background-color: lightgreen;
}

#info-container {
  width: 100vw;
  height: 60vh;
  background-color: lightblue;
}

#info-container-header {
  margin: 0 0 0 0;
  font-size: 40px;
  font-weight: bold;
  padding-top: 2%;
}

#info-vendor-client {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

#info-vendor,
#info-client {
  width: 40vw;
}

#vendor-logo,
#client-logo {
  width: 25%;
  height: 25%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  padding: 20px 20px 20px 20px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
