#about-container {
  background-color: #e6f0f0;
}
#meet-our-team,
#our-mission {
  /* font-family: "Merriweather", serif; */
  font-family: "Oswald", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 42px;
  color: #272e48;
  margin-bottom: 5%;
  text-decoration: underline;
  text-underline-position: under;
}

#our-mission-text {
  color: #272e48;
}

.about-text {
  width: 34%;
  margin: 0 auto;
  font-family: "Merriweather", serif;
}

#about-us-container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.team-member-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.team-member-photo:hover {
  animation: bounce 3s;
}

.team-member-name {
  color: #272e48;
}

.team-member-name:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.github-icon {
  width: 25px;
  height: 25px;
  padding-right: 10px;
}

.linkedin-icon {
  width: 25px;
  height: 25px;
}

.github-icon:hover,
.linkedin-icon:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.team-member-photo {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  65% {
    -webkit-transform: translateY(-4%);
  }
  80% {
    -webkit-transform: translateY(4%);
  }
  95% {
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

#save-a-plate,
#pursuit-link {
  text-decoration: none;
  color: #d35348;
  font-weight: 800;
  font-size: 18px;
  font-family: "Merriweather", serif;
}

#save-a-plate:hover,
#pursuit-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

#save-a-plate {
  color: #d35348;
}

#pursuit-link {
  color: #4142ea;
  /* Pursuit color :) */
}

#food-waste-img {
  width: 500px;
  border: 10px dotted black;
  border-radius: 50%;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

#food-waste-img:hover {
  border: 10px dotted #d35348;
  -webkit-animation: spin 2.5s linear infinite;
  -moz-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
