#meet-our-team {
  padding-top: 2.5%;
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  font-weight: bold;
}

#meet-our-team,
#our-mission {
  color: #272e48;
  text-underline-position: under;
}

#our-mission-text {
  color: #272e48;
  padding-top: 2.5%;
}

.about-text {
  width: 56%;
  margin: 0 auto;
}

#about-us-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 5%;
}

.team-member-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.team-member-name {
  color: #272e48;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
}

.github-icon {
  width: 35px;
  height: 35px;
  padding-right: 10px;
}

.linkedin-icon {
  width: 35px;
  height: 35px;
}

.github-icon:hover,
.linkedin-icon:hover {
  -webkit-transform: scale(1.5) 3s;
  -ms-transform: scale(1.5) 3s;
  transform: scale(1.5);
}

#save-a-plate,
#pursuit-link {
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  text-decoration: underline;
  text-underline-position: under;
}

#save-a-plate {
  color: #d35348;
}

#pursuit-link {
  color: #4142ea;
}

#save-a-plate:hover {
  border-top: 1px solid #d35348;
}

#pursuit-link:hover {
  border-top: 1px solid #4142ea;
}

#wynter,
#jon,
#deyvi,
#andrew {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 20%;
}

#wynter:hover,
#jon:hover,
#deyvi:hover,
#andrew:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.5);
  transform: scale(1.05);
}
