#about-container {
  background-color: #e6f0f0;
}
#meet-our-team,
#our-mission {
  /* font-family: "Merriweather", serif; */
  font-family: "Oswald", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 42px;
  color: #272e48;
  margin-bottom: 5%;
  text-decoration: underline;
  text-underline-position: under;
}

.about-text {
  width: 33%;
  margin: 0 auto;
  font-family: "Merriweather", serif;
}

#about-us-container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.team-member-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.team-member-name {
  color: #272e48;
}

.github-icon {
  width: 25px;
  height: 25px;
  padding-right: 10px;
}

.linkedin-icon {
  width: 25px;
  height: 25px;
}

.team-member-photo {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  65% {
    -webkit-transform: translateY(-4%);
  }
  80% {
    -webkit-transform: translateY(4%);
  }
  95% {
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
